<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!-- "System.Resources.Extensions" binding redirect should be generated automatically in future .NET Core SDKs; see https://github.com/dotnet/runtime/issues/39078 and https://github.com/dotnet/runtime/pull/39386 -->
        <assemblyIdentity publicKeyToken="cc7b13ffcd2ddd51" name="System.Resources.Extensions" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
