<?xml version="1.0" encoding="utf-8"?>
<!--
More information about runsettings files:
https://github.com/Microsoft/vstest-docs/blob/master/docs/configure.md
https://docs.microsoft.com/en-us/visualstudio/test/configure-unit-tests-by-using-a-dot-runsettings-file?view=vs-2019
-->
<RunSettings>
  <RunConfiguration>
    <TargetPlatform>x64</TargetPlatform>
  </RunConfiguration>
</RunSettings>
